@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Meow+Script&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.homepage {
height: 100vh;
width: 100vw;
background: lavender;
text-align: center;
}

.hpContainer {
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 40px 20px;
}

.hpContainer h1 {
font-family: "Meow Script", serif;
font-weight: bold;
color: #C32F2A;
font-size: 90px;
margin-top: auto;
position: relative;
}

.hpContainer p {
font-family: "42dot Sans", serif;
font-weight: 500;
font-size: 16px;
margin-top: auto;
color: black;
}

.hpContainer h1 .leftImg {
position: absolute;
left: -80%;
top: 20%;
}

.hpContainer h1 .rightImg {
position: absolute;
top: 20%;
right: -80%;
}

.hearts {
position: fixed;
top: -1vh;
left: 0;
transform: translateY(0);
animation: fall 10s ease-in infinite;

}

@keyframes fall {
  to {
  transform: translateY(250vh);
  }
}

.val {
background-image: url('./images/space-4619637.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100vw;
position: relative;
}

.valContainer h1 {
font-family: "Funnel Sans", serif;
}

.valContainer {
padding: 40px 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: 100%;
width: 100%;
position: relative;
}

.valContainer h1 {
color: lavender;
font-size: 42px;
margin-bottom: 20px;
}

.valContainer .options {
display: flex;
gap: 40px;
margin-bottom: 20px;
}

.valContainer .options a {
text-decoration: none;
font-family: 'Funnel Sans';
padding: 10px 20px;
background-color: #e5e5fb;
font-weight: 600;
color: black;
border-radius: 20px;
cursor: pointer;
transition-duration: 0.3s;
}

.valContainer img {
display: block;
max-width: 100%;
width: 250px;
}

.valContainer .options a:hover {
background-color: #d4d4fb;
}

.val::before {
  content: '';
  background-image: url('./images/col.png');
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}

.val.opacity::before {
  opacity: 0.5;
}

button.homebtn {
  background: none;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  border-width: 1px;
}

button.homebtn img {
  height: 20px;
  width: 20px;
}

a {
  text-decoration: none;
}

.message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.message input {
  position: relative;
  padding: 12px 16px;
  font-size: 16px;
  color: #000000;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px 0px 0px 8px;
  backdrop-filter: blur(10px);
  outline: none;
  transition: transform 0.3s ease-out;
  border-right: none;
}

.message button {
  position: relative;
  padding: 12px 16px;
  font-size: 16px;
  color: #fff;
  background: rgb(171 168 168 / 50%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px 8px 8px 0px;
  backdrop-filter: blur(10px);
  outline: none;
  transition: transform 0.3s ease-out;
  border-left: none;
}